.z{opacity: 1.0;
}

.x{position: absolute;
     left: 5%;
    top: 5%;
font-family: serif,serif;
font-size: 27px;
    color: beige;
　  
}
.c{position: absolute;
    top: 0%;
    opacity: 0.47;
}

.v{position: absolute;
    left: 48%;
    top: 78%;
font-family: serif,serif;
font-size: 20px;
    color: beige
}
.b{position: absolute;
    left: 62%;
    top: 78%;
font-family: serif,serif;
font-size: 20px;
    color: beige
}

.n{position: absolute;
    left: 75%;
    top: 78%;
font-family: serif,serif;
font-size: 20px;
    color: beige
}

.m{position: absolute;
    left: 80%;
    top: 87%;
font-family: serif,serif;
font-size: 20px;
    color: beige

}



.a{position: absolute;
    left: 55%;
    top: 16%;
font-family: serif,serif;
font-size: 20px;
    font-size: 26px;
    color: wheat;
   line-height: 35px
}


.s{position: absolute;
    top: 30%;
    left: 8%;
    opacity: 0.8
    
}

.d{position: absolute;
    top: 83%;
    left: 14%;
    font-size: 28px;
       
        
}

a{ text-decoration:none;
    color: beige;
}

a:hover{
    color: mediumpurple;
}
    

        
        
        
        
        