.p{position: absolute;
    top: 7%;
    right: 6%;
    opacity: 0.9;
    text-shadow: 10px 15px 9px;
}


.z{
   opacity: 0.6; 
}

.x{position: absolute;
    top: 26%;
    left: 2%;
    box-shadow: 10px 10px 15px;     

}


.c{position: absolute;
    top: 21%;
    left: 33%;
      box-shadow: 10px 10px 15px;
 
}



.v{position: absolute;
    top: 21%;
    left: 65%;
   box-shadow: 10px 10px 15px;  
 
}

.b{position: absolute;
    top: 75%;
    left: 7%;
box-shadow: 10px 10px 15px; 
}
    
    
    
    
.n{position: absolute;
    top: 70%;
    left: 40%;
box-shadow: 10px 10px 15px; 

}

.m{position: absolute;
    top: 82%;
    left: 73%;
    
    box-shadow: 10px 10px 15px; 
    
}


.g{position: absolute;
    top: 8%;
    left: 19%;
    
    
    
}


.h{position: absolute;
    top: 9%;
    left: 6%;
    
    
}



.j{position: absolute;
    top: 9%;
    left: 33.5%;
}





a{ text-decoration:none;
    color: black;
}

a:hover{
    color: white;
}














